/**NAV-BAR FORMATING **/ 

body {
    max-width:1000px;
    margin: auto;
    background-color: rgba(185, 184, 197, 0.473);
}


 #side-bar {
     float: left;
     background-color: bisque;
     width: 30%;
     /* height: 600px; */
     padding-left: 10px;
     border-radius: 5px;
     border: solid 1px lightgrey;
 }

 button {
     /* display: block; */
     width: 100%;
     border: none;
     background-color: inherit;
     padding: 10px 10px;
     text-align: right;
     cursor: pointer;


 }
 button:hover {
     background-color: sandybrown;
 }


 .active {
     background-color: seagreen;
 }

 /** STYLING FOR THE TAB CONTENT **/ 

 .content {
    width:60%;
  float:left;
  height: 600px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px;
  border-right: solid 1px lightgrey;


 }

 /** STYLES FOR CODE SNIPPETS**/ 
code {
    background-color: rgb(219, 210, 210);
    color: black;
    display: block;
    text-align: left;
    border-radius: 3px;
    padding: 5px;
   
}


/** MEDIA QUERES **/ 

@media only screen and (max-width: 800px) {
    .content {
        display: block;
        width: 100%;
    }

    #side-bar {
        
        display: block;
        width: 100%;
        float: none;
      
    }

    button {
        display: inherit;
        text-align: center;
}
}